@font-face{
    font-family:OpenSans;
    src:url("fonts/OPENSANS-REGULAR.ttf");
    font-style:normal  ;
    font-weight:normal ;
}
@font-face{
    font-family:OpenSans;
    src:url("fonts/OPENSANS-BOLD.ttf");
    font-style:normal  ;
    font-weight:bold ;
}
@font-face{
    font-family:OpenSans;
    src:url("fonts/OPENSANS-ITALIC.ttf");
    font-style:italic ;
    font-weight:normal ;
}
