.content {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content_itm {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    color: #323232;
    text-transform: uppercase;
    font: 600 14px OpenSans;
    text-align: center;
    box-shadow: 0 2px 3px -3px #000, -2px 2px 3px -3px #000, 2px 2px 3px -3px #000, 0 -2px 3px -3px #000;
}

.content_itm:nth-child(even) {
    margin-left: 10px;
}

.content_itm:nth-child(odd) {
    margin-right: 10px;
}

.content_itm p {
    color: #868686;
    font: 400 14px / 24px OpenSans;
}


/*start slider*/

.Big-Truck,
.CD,
.Compass-tool,
.Syringe,
.Truck,
.Pulse,
.Shield,
.Storage-box {
    display: block;
    margin: 60px auto 25px auto;
    background: url(../images/iconb_sprt.png) no-repeat;
}

.Big-Truck {
    background-position: 0 -5px;
    width: 42px;
    height: 40px;
}

.CD {
    background-position: -101px -1px;
    width: 40px;
    height: 40px;
}

.Compass-tool {
    background-position: -60px -3px;
    width: 22px;
    height: 40px;
}

.Syringe {
    background-position: -350px -5px;
    width: 38px;
    height: 40px;
}

.Truck {
    background-position: -299px -12px;
    width: 40px;
    height: 40px;
}

.Pulse {
    background-position: -250px -3px;
    width: 40px;
    height: 40px;
}

.Shield {
    background-position: -203px 0;
    width: 34px;
    height: 40px;
}

.Storage-box {
    background-position: -150px -7px;
    width: 40px;
    height: 40px;
}


/*end slider*/

.content_itm a:hover,
.content .item a:focus {
    webkit-transition: all .2s .1s;
    -webkit-transition: all .2s .1s;
    transition: all .2s .1s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}


/*services*/

.service {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_itm {
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
    background-color: #13a9dc;
    text-transform: uppercase;
    font: 600 14px OpenSans;
    text-align: center;
}

.service_itm__change_shadow {
    box-shadow: 0 2px 3px -3px #fff, -2px 2px 3px -3px #fff, 2px 2px 3px -3px #fff, 0 -2px 3px -3px #fff;
}


/*mod*/

.service_itm__bg_tr {
    background-color: transparent;
}


/*  start sprait*/

.call,
.crown,
.table,
.shield-large {
    display: block;
    margin: 80px auto 25px auto;
    background: url(../images/iconw_sprt.png) no-repeat;
}

.call {
    background-position: -100px 0;
    width: 55px;
    height: 52px;
}

.crown {
    background-position: -167px -3px;
    width: 55px;
    height: 52px;
}

.shield-large {
    background-position: 3px -3px;
    width: 55px;
    height: 52px;
}

.table {
    background-position: -46px -1px;
    width: 55px;
    height: 52px;
}


/* end sprait*/

.service_itm a:focus,
.service_itm a:hover {
    -webkit-transition: all .2s .1s;
    transition: all .2s .1s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}
/*slider*/

.project_content .slider_itm img{
     max-width:180px;
    max-height:180px;
}

/*media*/

@media screen and (max-width:960px) {
    .content_itm:nth-child(even) {
        margin-left: 0;
    }
    .content_itm:nth-child(odd) {
        margin-right: 0;
    }
    .service {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width:850px) {
    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .service_itm {
        margin: 20px;
    }
    .content_itm{
        height:280px;
        -webkit-box-flex:1;
        -ms-flex:1 1 280px;
        flex:1 1 280px;
        padding:10px;
    }
    .Big-Truck,
    .CD,
    .Compass-tool,
    .Syringe,
    .Truck,
    .Pulse,
    .Shield,
    .Storage-box{
        margin:20px auto;
    }
}