/*contact*/

.container__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
}

.content__contact {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.content__contact h3 {
    color: #13a9dc;
    font: 700 22px / 36px OpenSans;
}

.content__contact form {
    width: 95%;
}

.content__contact input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 2px 3px -2px #323232, 2px 0 3px -2px #323232, -2px 0 2px -3px #323232;
}

.content__contact textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border: none;
    resize: none;
    clear: both;
    box-shadow: 0 2px 3px -2px #323232, 2px 0 3px -2px #323232, -2px 0 2px -3px #323232;
}

.content__contact .btn_add {
    float: right;
}

.content__contact p {
    margin: 0;
    padding: .5em 0;
    color: #868686;
    font: 400 14px/24px OpenSans;
    text-align: left;
}


/*placeholder//chrome*/

.content__contact input[placeholder],
.content__contact textarea[placeholder] {
    padding-left: 1.5em;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    color: #a0a0a0;
    font: 400 13px / 36px OpenSans;
}

.content__contact input:focus,
.content__contact textarea:focus {
    box-shadow: 0 0 3px -2px #323232 inset;
}

.content__contact input:focus::-moz-placeholder,
.content__contact textarea:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.content__contact input:focus::-webkit-input-placeholder,
.content__contact textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}


/*media*/

@media screen and (max-width:600px) {
    .container__contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}