/*content*/

.content {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content img {
    width: 372px;
    margin-right: 30px;
}

.content article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.content article p {
    color: #868686;
    font: 400 16px/30px OpenSans;
    text-align: left;
    white-space: pre-wrap;
}

.content article p:last-child {
    margin-top: 3em;
    font-style: italic;
}


/*services*/

.service {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_itm {
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
    background-color: #13a9dc;
    text-transform: uppercase;
    font: 600 14px OpenSans;
    text-align: center;
}

.service_itm a:focus,
.service_itm a:hover {
    -webkit-transition: all .2s .1s;
    transition: all .2s .1s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}


/*  start slider*/

.call,
.crown,
.table,
.shield-large {
    display: block;
    margin: 80px auto 25px auto;
    background: url(../images/iconw_sprt.png) no-repeat;
}

.call {
    background-position: -100px 0;
    width: 55px;
    height: 52px;
}

.crown {
    background-position: -167px -3px;
    width: 55px;
    height: 52px;
}

.shield-large {
    background-position: 3px -3px;
    width: 55px;
    height: 52px;
}

.table {
    background-position: -46px -1px;
    width: 55px;
    height: 52px;
}

/*media*/

@media screen and (max-width:850px) {
    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .content article {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .content img {
        width: 270px;
        margin-right: 0;
    }
    .service {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .service_itm {
        margin: 20px;
    }
}